.custom-card {
   width: 220px;
   height: 150px;
   display: flex;
   /* justify-content: center; */
   align-items: center;
}

.custom-header {
   font-size: 50px;
   font-weight: 500;
   color: white;
}

.custom-paragraph {
   margin-top: 28px;
   font-size: 22px;
   color: white;

}
