.flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.justify-content-center {
   justify-content: center;
}

.justify-content-space-evenly {
   justify-content: space-evenly;
}

.custom-card {
   width: 220px;
   height: 150px;
   background-color: lightblue;
   display: flex;
   /* justify-content: center; */
   align-items: center;
}

.custom-header {
   font-size: 50px;
   font-weight: 500;
   color: white;
}

.custom-paragraph {
   margin-top: 28px;
   font-size: 22px;
   color: white;

}

.gap {
   gap: 1rem;
}

.container {
   display: flex;
   flex-direction: column;
}

.mt-3 {
   margin-top: 2rem;
}

/* Responsive styles for center-button */
.center-button {
   display: flex;
   justify-content: center;
   margin-top: 1rem;
}

#graphContainer {
   padding: 1rem;
}

/* Responsive styles for card portion */
.flex.justify-content-center.gap.mt-3 {
   margin-top: 2rem !important;
}

/* Responsive styles for the chart */
.flex.justify-content-center canvas {
   max-width: 100%;
}

@media (min-width: 768px) {
   .container {
      width: 580px;
   }
}

@media (min-width: 992px) {
   .container {
      width: 800px;
   }
}

@media (min-width: 1200px) {
   .container {
      min-width: 90%;
   }
}